<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Student_Affairs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
<connectionStrings>
  <add name="192.168.90.50ZaidStudentAffairs" connectionString="XpoProvider=MSSqlServer;data source=192.168.90.50\Zaid;user id=info;password=info;initial catalog=StudentAffairs;Persist Security Info=true;Encrypt=True;TrustServerCertificate=True" />
  <add name="StudentAffairsEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.90.50\Zaid;initial catalog=StudentAffairs;persist security info=True;user id=info;password=info;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
    providerName="System.Data.EntityClient" />
  <add name="StudentAffairsEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.90.50\Zaid;initial catalog=StudentAffairs;persist security info=True;user id=info;password=info;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
    providerName="System.Data.EntityClient" />
  <add name="Student_Affairs.Properties.Settings.StudentAffairsConnectionString"
    connectionString="Data Source=192.168.90.50\Zaid;Initial Catalog=StudentAffairs;Persist Security Info=True;User ID=info;Password=info;Encrypt=True;TrustServerCertificate=True"
    providerName="System.Data.SqlClient" />
</connectionStrings><userSettings>
    <Student_Affairs.Properties.Settings>
      <setting name="username" serializeAs="String">
        <value />
      </setting>
    </Student_Affairs.Properties.Settings>
  </userSettings>
</configuration>